.wrapper {
  display: block;
}

.header-container {
  display: flex;
  width: 100%;
  background-color: #af4242;
  justify-content: center;
}

.header {
  height: 100px;
}

.nav-link {
  display: inline-flex;
  margin: 15px;
  font-size: 40px;
  font-weight: 500;

  text-decoration: none;
}
.active {
  color: rgb(255, 255, 255);
}

.main-container {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  background-color: #f1f3f4;
}
